<body id="Travel-Confirm">

<div class="background-container-none">
  <%= image_tag('plane.jpg', class: "message-img") %>

<div class="info-title">
  <div class="info-title3">お問い合わせ確認</div>
</div>

<%= form_for @message, :url => done_path do |f| %>
   	<strong class="info-name3">お名前</strong>
   		<%= f.hidden_field :name %>
      <div class="info-name4">
   		   <%= @message.name %>
      </div>
   </div>
   <div>
   	<strong class="info-email3">Email</strong>
   	<p>
   		<%= f.hidden_field :email %>
      <div class='info-email4'>
   		 <%= @message.email %>
    </div>
   	</p>
   </div>
   <div>
   	<strong class="info-category3">項目</strong>
   	<p>
   		<%= f.hidden_field :category %>
      <div class="info-category4">
   		<%= @message.category %>
      </div>
   	</p>
   </div>
   <div>
   	<strong class="info-text3">内容</strong>
   	<p>
   		<%= f.hidden_field :content, class: "info-text3" %>
      <div class="info-text4">
   		<%= simple_format(@message.content) %>
    </div>
   	</p>
   </div>
     <%= f.submit '戻る', name: 'back', class: 'info-back' %>
     <%= f.submit '送信する', class: 'Confirm-submit' %>
   </div>
<% end %>

</body>