<body id="Travel2">

<div class="background-container">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="" class="info-background">
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>

<div class="info-title">
  <div class="info-title2">お問い合わせ</div>
</div>

<%= form_for(@message, url: { action: :confirm}) do |f| %>
<!--
  <div class="info-main">
    <img src="assets/guam.jpg" class= "img2">
  	<h2>お問い合わせ</h2> -->

  	 <% if @message.errors.present? %>
  	 	<div>
  	 		<strong>入力内容にエラーがあります</strong>
  	 		<ul>
  	 			<% @message.errors.each do |attr, error| %>
  	 			  <li><%= error %></li>
  	 			<% end %>
  	 		</ul>
  	 	</div>
  	 <% end %>

  	<div class="info-name-main">
  	  <strong class="info-name">お名前</strong>
  	  <p><%= f.text_field :name, placeholder: '20文字以内', class: "info-name2" %></p>
  	</div>
  	<div class="info-email-main">
  	  <strong class="info-email">メールアドレス</strong>
  	  <p><%= f.text_field :email, placeholder: '20文字以内', class: "info-email2" %></p>
  	</div>
  	<div class="info-category-main">
  	  <strong class="info-category">お問い合わせ項目</strong>
  	  <p><%= f.select :category, ['旅行を計画して欲しい',
'オススメの場所を知りたい', 'その他'], {}, :class => 'info-category2' %></p>
  	</div>
  	<div class="info-text-main">
  	  <strong class="info-text">お問い合わせ内容</strong>
  	  <p><%= f.text_area :content, class: 'info-text2' %></p>
  	</div>
  	  <%= f.submit '確認画面へ', class: 'info-submit' %>
  </div>
<% end %>

</body>