<i class="fa fa-comment">
	<a href="#comments"><%#= @post.post_comments.count %>件</a>
</li>

<ol>
 <% @post.post_comments.each do |post_comment| %>
     <li class="comment">
      <div class="comment-body bb">
        <div class="comment-text">
          <div class="comment-author clearfix">
            <a href="#" class="link-author"><%= post_comment.end_user.name %><%= post_comment.end_user.nickname %></a>
            <span class="comment-meta">
              <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
            </span>
            </div>
            <div class="comment-entry"><%= post_comment.comment %></div>
          </div>
        </div>
      </li>
      <% end %>
     </ol>

     <%= form_for [@post, @post_comment] do |f| %>
       <div class="row">
        <div class="col-sm-12">
          <% if admin_user_signed_in? %>
          <%= f.text_field :comment, placeholder: "To" %>
        </div>
         <% end %>
         <div class="col-sm-12">
          <%= f.text_area :reply_post_comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
         </div>
       </div>
       <%= f.submit 'コメントする' %>
     <% end %>