<body id="New-Travel">

<div class="New-Travel-Title">
  <h1>Edit Travel</h1>
</div>

<%= form_for(@post) do |f| %>

  <div class="field">
  	<label class="Title">タイトル</label>
      <%= f.text_field :title, class: "Title2" %>
  </div>

  <div class="field">
  	<label class="Category">カテゴリー</label>
      <%= f.text_field :category, class: "Category2" %>
  </div>

  <div class="field">
    <label class="Country">国</label>
      <%= f.select :country, Post.countries.keys, class: "Country2" %>
  </div>

  <div class="field">
  	<label class="Prefectures">都道府県名</label>
   	  <%= f.select :prefectures, Post.prefectures.keys, {prompt: '選択する'}, class: "Prefectures2" %>
  </div>

  <div class="field">
  	<label class="City">都市名</label>
      <%= f.text_field :city, class: "City2" %>
  </div>

  <div class="field">
  	<label class="Date">行った日付</label>
      <%= f.date_field :date, class: "Date2" %>
  </div>

  <div class="field">
    <label class="Place">住所</label>
      <%= f.text_field :place, class: "Place2" %>
  </div>

　<div class="field">
    <label class="Image">写真</label>
      <%= f.attachment_field :post_images_images, multiple: true, class: "Image"  %>
  </div>

  <div class="field">
  	<label class="Text">内容</label>
      <%= f.text_area :content, class: "Text2" %>
  </div>

  <div class="field-tag">
    <%= f.submit "投稿する" %>
  </div>

<% end %>

</body>