<body id="Travel-index">

  <div class="Travel-index-title">
    <h1>TABIHAMA</h1>
  </div>

<%= search_form_for @search, url: posts_path do |f| %>

   <%= f.label "検索する場合はこちら", class: "ransack" %>
   <%= f.search_field :title_or_country_or_prefectures_cont, class: "ransack2" %>

 <%= f.submit '検索', class: "ransack-submit" %>

<% end %>

  <% @posts.each do |t| %>



  <table class="Posts-index2" style="border-radius: 15px;">

	<tr>
      <td class="Post-image"><%= link_to(post_path(t), class: "Post-image3", data: {"turbolinks" => false} ) do %><%= attachment_image_tag t.post_images.first, :image, :fill, 200, 200, class: "Post-image2" %>
        <% end %>
      </td>

	    <td class="Post-title"><%= link_to(post_path(t), class: "Post-title2", data: {"turbolinks" => false}) do %><%= t.title %><% end %></td>

      <td class="Post-country"><%= t.country %></td>

      <td class="Post-prefectures"><%= t.prefectures %></td>

      <td class="Post-date"><%= t.date %></td>

	</tr>


  </table>

<% end %>


<div class="paginate" data-turbolinks="false">
  <%= paginate @posts, class: "paginate2" %>
</div>

</body>
