<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>


  <%= @post.title %>
  <%= @post.category %>
  <%= @post.country %>
  <%= @post.prefectures %>
  <%= @post.city %>
  <%= @post.place %>
  <%= @post.date %>
<% @post.post_images.each do |image| %>
	<tr>
	  <td><%= attachment_image_tag image, :image, :fill, 100, 100 %></td>
	</tr>
<% end %>
  <%= @post.content %>

<% if @post.favorited_by?(current_end_user) %>
 <li>
  <%= link_to post_favorites_path(@post), method: :delete do %>
   <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   <%= @post.favorites.count %> 👍
  <% end %>
 </li>
<% else %>
 <li>
  <%= link_to post_favorites_path(@post), method: :post do %>
   <i class="fa fa-heart-o" aria-hidden="true"></i>
   <%= @post.favorites.count %> 👍
  <% end %>
 </li>
<% end %>



<!--<li>
	<i class="fa fa-comment">
	<a href="#comments"><%#= @post.post_comments.count %></a>
</li>-->

<div class="comment_list bt style-2" id="comments">
	<div class="float-wrapper">
		<h2 class="comment-count"><%= @post.post_comments.count %>件コメント</h2>
</div>

<ol>
  <% @post.post_comments.each do |post_comment| %>
     <li class="comment">
     	<div class="comment-body bb">
     		<div class="comment-text">
     			<div class="comment-author clearfix">
     				<a href="#" class="link-author"><%= post_comment.end_user.name %></a>
     				<span class="comment-meta">
     					<span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
     				</span>
     			  </div>
     			  <div class="comment-entry"><%= post_comment.comment %></div>
     			</div>
     		</div>
     	</li>
     	<% end %>
     </ol>

     <%= form_for [@post, @post_comment] do |f| %>
       <div class="row">
       	 <div class="col-sm-12">
       	 	<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
       	 </div>
       </div>
       <%= f.submit 'コメントする' %>
     <% end %>

      <%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete %>