<body id="Post-Show-Main">

  <div class="Travel-show-title">
    <h1>TABIHAMA</h1>
  </div>

<div id="Post-main">
  <div class="Post-slide">
    <ul id="slider">

      <% @post.post_images.each do |image| %>
          <li class="slide-item"><%= attachment_image_tag image, :image, class: "slide-image-main" %></li>
      <% end %>
    </ul>
    <ul id="thumbnail_slider">
      <% @post.post_images.each do |image| %>
          <li class="slide-item"><%= attachment_image_tag image, :image, class: "slide-image-sub" %></li>

      <% end %>
    </ul>

    <div class="like-link" id="like-link-<%= @post.id %>">
      <% if current_end_user.likes.find_by(post_id: @post.id) %>
        <%= link_to unlike_path(@post.id), method: :delete, remote: true do %>
            <div class = "iine__button">❤️<%= @post.likes.count %></div>
        <% end %>
      <% else %>
        <%= link_to like_path(@post.id), method: :post, remote: true do %>
            <div class = "iine__button">♡️<%= @post.likes.count %></div>
        <% end %>
      <% end %>
    </div>

  </div>
  </div>



<div class="Post-Show clearfix" >
 <table class="Post-show-list">
  <tr class="Post-show-tr">
    <th class="Post-show-th">タイトル</th>
    <td class="Post-show-td"><%= @post.title %></td>
  </tr>

  <tr class="Post-show-tr">
    <th class="Post-show-th">カテゴリー</th>
    <td class="Post-show-td"><%= @post.category %></td>
  </tr>


  <tr class="Post-show-tr">
    <th class="Post-show-th">国</th>
    <td class="Post-show-td"><%= @post.country %></td>
  </tr>


  <tr class="Post-show-tr">
    <th class="Post-show-th">都道府県</th>
    <td class="Post-show-td"><%= @post.prefectures %></td>
  </tr>

  <tr class="Post-show-tr">
    <th class="Post-show-th">都市</th>
    <td class="Post-show-td"><%= @post.city %></td>
  </tr>

  <tr class="Post-show-tr">
    <th class="Post-show-th">場所</th>
    <td class="Post-show-td"><%= @post.place %></td>
  </tr>

  <tr class="Post-show-tr">
    <th class="Post-show-th">日付</th>
    <td class="Post-show-td"><%= @post.date %></td>
  </tr>

 </table>

  <div class="Post-Show-Content-Main">
    <span class="Post-Show-Content">
      <%= simple_format (@post.content) %>
    </span>
  </div>

</div>


	<i class="fa fa-comment">
	<p class="comments-count"><%= @post.post_comments.count %>件</a>
</li>

<ol class="post-comment">
  <% @post.post_comments.each do |post_comment| %>
     <li class="comment">
      <div class="comment-body bb">
        <div class="comment-text">
          <div class="comment-author clearfix">
             <span class="comment-meta">
              <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
            </span>

            <% if post_comment.admin_status? %>
            <p class="link-author"><%= post_comment.admin_user.name %></p>
            <% else %>
            <p class="link-author"><%= post_comment.end_user.name %><%= post_comment.end_user.nickname %></p>
            <% end %>
            </div>
            <div class="comment-entry"><%= post_comment.comment %></div>
          </div>

           <% if admin_user_signed_in?  %>
            <% if post_comment.admin_user == current_admin_user %>
           <%= link_to '削除', post_post_comment_path(@post, post_comment), method: :delete %>
           <% end %>
            <% else %>
            <% if post_comment.end_user == current_end_user %>
             <%= link_to '削除', post_post_comment_path(@post, post_comment), method: :delete %>
            <% end %>
            <% end %>
        </div>
      </li>
      <% end %>
     </ol>

     <% if end_user_signed_in? %>
     <%= form_for [@post, @post_comment] do |f| %>
       <div class="row">
         <div class="col-sm-12">
          <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
         </div>
       </div>
       <%= f.submit 'コメントする', class: "comment-submit" %>
     <% end %>
     <% end %>

    <% if admin_user_signed_in? %>
     <%= form_for  [@post, @post_comment] do |f| %>
      <div class="row">
         <div class="col-sm-12">
          <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
         </div>
       </div>
       <%= f.submit 'コメントする', class: "comment-submit" %>
       <
     <% end %>
     <% end %>

  <% if @post.admin_user == current_admin_user %>
    <%= link_to "編集", edit_post_path(@post) %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>

  </body>
